@import url(../fonts.css);
.none {
  display: none !important; }

h3 {
  color: white;
  text-transform: uppercase;
  font-family: "GothamProBold";
  margin-bottom: 15px;
  position: relative; }
  h3 span {
    color: #ffd900; }

.content-block {
  padding: 40px 0px 40px 0px; }

.display-block {
  display: block; }

.red-text {
  color: red; }

.green-text {
  color: green; }

.anchor {
  position: absolute;
  margin-top: -75px; }

@media(max-width: 1199px) {
  h3 {
    margin-bottom: 25px; }

  .anchor {
    margin-top: -62px; }

  .content-block {
    padding: 25px 0px 25px 0px; } }
@media(max-width: 991px) {
  h3 {
    font-size: 24px; } }
@media(max-width: 767px) {
  h3 {
    margin-bottom: 20px;
    font-size: 18px; } }
.reviews {
  background: url(../../images/back_4.jpg) center no-repeat;
  height: 826px; }
  .reviews .desktop-data {
    display: block; }
  .reviews .mobile-data {
    display: none; }
  .reviews .reviews-substrate {
    position: absolute;
    width: 100%;
    height: 826px;
    background-color: rgba(0, 0, 0, 0.55); }
  .reviews .container-fluid {
    padding: 0px; }
  .reviews .row-reviews, .reviews .action-reviews {
    margin: 0px; }
  .reviews .action-reviews {
    margin-top: 20px; }
  .reviews .view-review {
    font-family: "GothamProRegular";
    color: white;
    font-size: 22px; }
    .reviews .view-review:hover {
      cursor: pointer; }
  .reviews .write-review {
    color: black;
    display: block;
    margin: 0 auto;
    background-color: #ffd900;
    border: none;
    outline: none !important;
    border-radius: 15px;
    font-family: "GothamProBold";
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 25px;
    position: relative;
    transition: 0.3s;
    opacity: 0.85;
    padding-bottom: 5px;
    margin-top: 35px; }
    .reviews .write-review:hover {
      opacity: 1;
      cursor: pointer; }
  .reviews hr {
    color: #ffd900;
    background-color: #ffd900;
    border: 0px none;
    height: 2px;
    clear: both;
    width: 140px; }
  .reviews .date-review {
    text-align: center;
    font-family: "GothamProRegular";
    margin-bottom: 0px;
    font-size: 14px; }
  .reviews .name-people-review {
    text-align: center;
    font-family: "GothamProBold";
    margin-bottom: 5px;
    font-size: 16px; }
  .reviews .people-img {
    display: block;
    margin: 0 auto; }
  .reviews h3 {
    text-align: center;
    margin-bottom: 30px; }
  .reviews .review {
    border-radius: 45px;
    float: left;
    width: 345px;
    height: 550px;
    margin-left: 52px;
    background-color: white; }
  .reviews .review-first {
    margin-left: 0px !important;
    margin-top: 0px !important; }
  .reviews .review-text {
    width: 100%;
    height: 300px;
    max-height: 300px;
    overflow: auto;
    padding: 5px 25px 20px 25px;
    margin-top: 45px; }
    .reviews .review-text p {
      text-align: justify;
      font-size: 16px; }
  .reviews .user-info {
    width: 100%;
    height: 190px;
    padding: 0px 15px 10px 15px; }
@media(max-width: 1199px) {
  .reviews {
    height: 796px; }
    .reviews .reviews-substrate {
      height: 796px; }
    .reviews .review {
      width: 296px;
      height: 550px;
      margin-left: 36px; }
    .reviews .name-people-review {
      font-size: 15px; }
    .reviews .review-text p {
      font-size: 15px; } }
@media(max-width: 991px) {
  .reviews {
    height: 725px; }
    .reviews .reviews-substrate {
      height: 725px; }
    .reviews .desktop-data {
      display: none; }
    .reviews .mobile-data {
      display: block; }
    .reviews .user-info-mobile {
      padding: 5px 15px; }
      .reviews .user-info-mobile p {
        font-family: "GothamProBold";
        margin-bottom: 0px;
        font-size: 16px; }
        .reviews .user-info-mobile p span {
          font-size: 12px;
          font-family: "GothamProRegular"; }
    .reviews .review-text-mobile {
      max-height: 95px;
      overflow: auto;
      padding: 5px 15px; }
      .reviews .review-text-mobile p {
        font-family: "GothamProRegular";
        font-size: 13px; }
    .reviews .review {
      width: 65%;
      height: 140px;
      display: block;
      margin: auto !important;
      margin-top: 35px !important;
      float: none;
      border-radius: 25px; }
    .reviews .review-first {
      margin-top: 0px !important; }
    .reviews .view-review {
      font-size: 18px; }
    .reviews .write-review {
      font-size: 16px;
      padding: 10px 25px; } }
@media(max-width: 768px) {
  .reviews {
    height: 675px; }
    .reviews .reviews-substrate {
      height: 675px; }
    .reviews h3 {
      margin-bottom: 17px; }
    .reviews .review {
      margin-top: 17px !important;
      width: 100%; }
    .reviews .review-first {
      margin-top: 0px !important; }
    .reviews .content-block {
      padding-left: 15px;
      padding-right: 15px; }
    .reviews .write-review {
      font-size: 14px;
      padding: 10px 15px; } }

/*# sourceMappingURL=reviews.css.map */
