@import "../base.sass"
@import "../fonts.css"

.modal-body-application
    height: 300px

.application-data
    position: absolute
    width: 400px
    left: 50%
    margin-left: -200px

#application-form
    .title-input
        font-family: "GothamProRegular"
        margin-bottom: 5px
        font-size: 20px

    input
        display: block
        margin-bottom: 20px
        width: 100%
        border: 2px solid black
        padding: 5px 15px
        outline: none !important

    button
        display: block
        margin: 0 auto
        margin-top: 40px
        color: white
        background-color: black
        border: none
        outline: none !important
        border-radius: 15px
        font-family: "GothamProBold"
        text-transform: uppercase
        font-size: 14px
        padding: 7px 15px
        position: relative
        transition: .3s
        opacity: .85

        &:hover
            cursor: pointer
            opacity: 1

    .status-data
        text-align: center
        margin-bottom: 0px
        position: absolute
        margin-top: -10px
        font-size: 14px


@media(max-width: 767px)
    .modal-body-application
        height: 250px
        padding-top: 0px

    #application-form
        .title-input
            font-size: 16px

    .application-data
        position: relative
        width: 100%
        left: 0
        margin-left: 0px