
.gallery-items
    margin-top: -20px

.gallery-img
    width: 25%
    float: left

.modal-body
    height: 70vh
    overflow: auto

.gallery-img-thumbnail
    width: 100%
    height: 135px

@media(max-width: 1199px)
    .gallery-img
        width: 33.33333%

@media(max-width: 991px)
    .gallery-img-thumbnail
        height: 100px

@media(max-width: 767px)
    .gallery-img-thumbnail
        height: 80px