@import url(fonts.css);
.none {
  display: none !important; }

h3 {
  color: white;
  text-transform: uppercase;
  font-family: "GothamProBold";
  margin-bottom: 15px;
  position: relative; }
  h3 span {
    color: #ffd900; }

.content-block {
  padding: 40px 0px 40px 0px; }

.display-block {
  display: block; }

.red-text {
  color: red; }

.green-text {
  color: green; }

@media(max-width: 1199px) {
  h3 {
    margin-bottom: 25px; }

  .content-block {
    padding: 25px 0px 25px 0px; } }
@media(max-width: 991px) {
  h3 {
    font-size: 24px; } }
@media(max-width: 767px) {
  h3 {
    margin-bottom: 20px;
    font-size: 18px; } }
footer {
  background-color: black;
  padding: 20px 5px;
  height: 175px; }
  footer .footer-data {
    height: 135px;
    width: 33.33333%;
    float: left; }
  footer .all-link .menu-footer {
    padding: 0px;
    text-align: center; }
    footer .all-link .menu-footer li {
      list-style: none;
      margin-bottom: 3px; }
      footer .all-link .menu-footer li a {
        color: white;
        text-decoration: none !important;
        transition: 0.2s;
        font-size: 16px;
        font-family: "GothamProRegular"; }
        footer .all-link .menu-footer li a:hover {
          color: #ffd900; }
  footer .social-networks {
    padding-top: 42px;
    border-right: 1px solid #ffd900; }
    footer .social-networks a {
      text-decoration: none !important; }
      footer .social-networks a .social-img {
        width: 55px;
        margin-left: 20px;
        opacity: 0.85;
        transition: 0.2s; }
        footer .social-networks a .social-img:hover {
          opacity: 1; }
  footer .logo-phone {
    border-left: 1px solid #ffd900;
    padding-top: 15px; }
    footer .logo-phone .link-mobile-logo {
      display: block; }
      footer .logo-phone .link-mobile-logo .logo-footer {
        float: right; }
    footer .logo-phone .phone-footer {
      clear: right;
      display: block;
      float: right;
      margin-top: 10px;
      text-decoration: none !important;
      color: white;
      font-size: 22px;
      font-family: "GothamProBold";
      transition: 0.2s; }
      footer .logo-phone .phone-footer:hover {
        color: #ffd900; }
@media(max-width: 1199px) {
  footer .social-networks a .social-img {
    width: 45px;
    margin-left: 15px; }
  footer .all-link .menu-footer li a {
    font-size: 14px; }
  footer .logo-phone .phone-footer {
    font-size: 20px; } }
@media(max-width: 991px) {
  footer .social-networks a .social-img {
    width: 40px;
    margin-left: 5px; } }
@media(max-width: 767px) {
  footer {
    height: 240px; }
    footer .footer-data {
      width: 250px !important;
      position: absolute;
      left: 50%;
      margin-left: -125px;
      height: 75px; }
    footer .social-networks {
      padding: 15px;
      border-right: none;
      border-bottom: 1px solid #ffd900; }
      footer .social-networks a {
        text-decoration: none !important; }
        footer .social-networks a .social-img {
          margin-left: 15px; }
        footer .social-networks a .first-social-img {
          margin-left: 0px; }
    footer .all-link {
      position: absolute;
      margin-top: 88px; }
      footer .all-link .menu-footer {
        padding: 0px;
        margin-left: -7px; }
        footer .all-link .menu-footer li {
          list-style: none;
          margin-bottom: 0px;
          float: left;
          margin-left: 17px;
          margin-bottom: 8px; }
          footer .all-link .menu-footer li a {
            font-size: 14px; }
    footer .logo-phone {
      border-left: none;
      border-top: 1px solid #ffd900;
      margin-top: 160px;
      height: 60px; }
      footer .logo-phone .link-mobile-logo {
        display: none; }
      footer .logo-phone .phone-footer {
        clear: right;
        float: none;
        text-align: center;
        margin-top: 0px;
        color: #ffd900;
        font-size: 16px; } }

/*# sourceMappingURL=footer.css.map */
