@import "base.sass"
@import "fonts.css"

footer
    background-color: black
    padding: 20px 5px

    height: 175px

    .footer-data
        height: 135px
        width: 33.3333333%
        float: left

    .all-link
        .menu-footer
            padding: 0px
            text-align: center

            li
                list-style: none
                margin-bottom: 3px

                a
                    color: white
                    text-decoration: none !important
                    transition: .3s
                    font-family: "GothamProRegular"

                    &:hover
                        color: $yellow

    .social-networks
        padding-top: 42px
        border-right: 1px solid $yellow

        .social-img
            width: 55px
            margin-left: 20px
            opacity: .85
            transition: .3s

            &:hover
                opacity: 1

    .logo-phone
        border-left: 1px solid $yellow
        padding-top: 15px


        .logo-footer
            float: right

        .phone-footer
            clear: right
            display: block
            float: right
            margin-top: 10px
            text-decoration: none !important
            color: white
            font-size: 22px
            font-family: "GothamProBold"

