@import "base.sass"
@import "fonts.css"

header
    position: fixed
    width: 100%
    z-index: 9
    padding: 10px
    background-color: rgba(0, 0, 0, 0.75)
    height: 76px

    .logo
        float: left

    .menu
        list-style: none
        float: left
        padding: 0px
        margin: 15px 0px 0px 0px

        li
            float: left
            margin-left: 66px

            a
                text-decoration: none !important
                font-size: 20px

            .item
                font-family: "GothamProBold"
                color: white

            .phone
                font-family: "GothamProBlack"
                color: $yellow
