@import "base.sass"
@import "fonts.css"

header
    position: fixed
    width: 100%
    z-index: 9
    padding: 10px
    background-color: rgba(0, 0, 0, 0.75)
    height: 76px

    .logo
        width: 97px
        height: 53px
        float: left

    .menu
        list-style: none
        float: left
        padding: 0px
        margin: 15px 0px 0px 0px

        li
            float: left
            margin-left: 66px

            a
                text-decoration: none !important
                font-size: 20px

            .item
                font-family: "GothamProBold"
                color: white

            .phone
                font-family: "GothamProBlack"
                color: $yellow

    @media(max-width: 1201px)
        height: 62px

        .logo
            width: 75px
            height: 40px

        .menu
            margin: 10px 0px 0px 0px

            li
                margin-left: 55px

                a
                    font-size: 17px